.button-delete, .button-edit {
    color: #332d2d;
    background-color: white;
    border: none;
}

.button-done {
    color: #332d2d;
    background-color: #FFFDE7;
    border: none;
}

.form-note {
    height: 100%;
    position: relative;
}

.form-note input,
.form-note textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;

}

.note-icons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
