body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
}

.wrapper {
    
}
   
.custom-border-color {
    border-color: red !important;
}

header {
    border-bottom: 1px solid #a7a7a7;
}

footer {
    color: #a7a7a7;
}

.custom-navbar {
    background-color: #FFC107;
}

.brand-name {
    font-size: 1.5rem;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.center-text {
    text-align: center;
}

.login-div {
    background-color: white;
}

.login-button {
    background-color: #40C4FF;
    border-color: #40C4FF;
}

.login-button:hover {
    background-color: #00B0FF !important;
    border-color: #40C4FF !important;
}

.login-button:focus,
.login-button:active {
    background-color: #0091EA !important;
    border-color: #40C4FF !important;
}

.link-info:hover {
    color: #00ACC1 !important;
}

.modal-body {
    padding: 0 !important;
}


.signup-button {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.signup-button:hover {
    background-color: #43A047 !important;
    border-color: #4CAF50 !important;
}

.signup-button:focus,
.signup-button:active {
    background-color: #388E3C !important;
    border-color: #4CAF50 !important;
}